body {
    background-color: #222 !important;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #111 !important;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}

nav li {
    background-color: #111 !important;
    color: #ddd;
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav li a {
    text-decoration: none;
    color: #ddd;
}

nav li:hover {
    background-color: #333 !important;
    color: #66a2ff;
}

.search-box {
    background-color: #444 !important;
    color: #ddd;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-buttons {
    display: flex;
    align-items: center;
}

.user-buttons button {
    background-color: #007bff !important;
    color: #fff;
    margin-left: 10px;
    padding: 8px;
    cursor: pointer;
}

section {
    background-color: #555 !important;
    color: #ddd;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
